@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --font-geist: 'Geist', sans-serif;
  --font-size: 17px;
  --blur: blur(4px);
  --transition-base: 0.6s var(--ease-in-out-quart);

  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);

  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);

  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
}

.geist-regular {
  font-family: var(--font-geist);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.51px;
}

.geist-semibold {
  font-family: 'Geist', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: -0.51px;
}

.chat {
  width: var(--width);
  height: var(--height);
  padding: 15px;
  border-radius: var(--rounded);
  background: #f0f0f0;
  transform: scale(var(--scale, 1));
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 25px;
  transition:
    width var(--transition-base),
    height var(--transition-base),
    padding var(--transition-base),
    border-radius var(--transition-base),
    box-shadow var(--transition-base),
    transform var(--transition-base);
  will-change: transform, opacity;
}

.chat[data-opened='false'] {
  padding: 15px 0 0 15px;
  user-select: none;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.chat[data-opened='true'] {
  padding: 31px 9px 9px 9px;
  border-radius: 28px;
  border: 1px solid #fff;
  box-shadow:
    0 285px 80px 0 rgba(0, 0, 0, 0),
    0 182px 73px 0 rgba(0, 0, 0, 0.01),
    0 102px 61px 0 rgba(0, 0, 0, 0.03),
    0 46px 46px 0 rgba(0, 0, 0, 0.04),
    0 11px 25px 0 rgba(0, 0, 0, 0.05);
}

.chat[data-processing='true'] {
  width: 400px;
  height: 150px;
}

.chat-img {
  position: absolute;
  transition:
    opacity var(--transition-base),
    filter var(--transition-base),
    margin var(--transition-base);
}

.chat-img[data-opened='true'] {
  margin: 0 0 0 14px;
  opacity: 0;
  filter: var(--blur);
}

.chat-img[data-opened='false'] {
  margin: 0;
  opacity: 1;
  filter: blur(0);
}

.close {
  border-radius: 8px;
  background: #e5e5e5;
  width: 30px;
  height: 30px;
  margin: 0 0 0 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  transition:
    opacity var(--transition-base),
    filter var(--transition-base);
}

.close[data-opened='true'] {
  opacity: 1;
  filter: blur(0);
}

.close[data-opened='false'] {
  opacity: 0;
  filter: var(--blur);
}

.drafts {
  color: #060606;
  margin: 0 14px 0 0;
  font-size: var(--font-size);
  line-height: normal;
  letter-spacing: -0.51px;
  transition:
    opacity var(--transition-base),
    filter var(--transition-base);
}

.drafts[data-opened='true'] {
  opacity: 1;
  filter: blur(0);
}

.drafts[data-opened='false'] {
  opacity: 0;
  filter: var(--blur);
}

textarea {
  height: 0;
  background: transparent;
  border: none;
  resize: none;
  outline: none;
  padding: 0 14px;
  transition:
    opacity var(--transition-base),
    filter var(--transition-base),
    width var(--transition-base),
    height var(--transition-base);
}

textarea::placeholder {
  font-size: var(--font-size);
}

textarea:focus {
  outline: none;
}

textarea[data-opened='true'] {
  opacity: 1;
  filter: blur(0);
  width: 100%;
  height: 225px;
}

textarea[data-opened='false'] {
  opacity: 0;
  filter: var(--blur);
  width: 0;
}

textarea[data-processing='true'] {
  opacity: 0;
  filter: var(--blur);
}

.panel {
  padding: 11px 11px 11px 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  border: 1px solid #dfdfdf;
  background: linear-gradient(
    0deg,
    rgba(233, 233, 233, 0.5) 0%,
    rgba(225, 225, 225, 0.5) 100%
  );
  overflow: hidden;
  transition:
    opacity var(--transition-base),
    filter var(--transition-base),
    width var(--transition-base),
    height var(--transition-base),
    transform var(--transition-base);
}

.subpanel {
  display: flex;
  gap: 10px;
  align-items: center;
}

.subpanel[data-send='true'] {
  gap: 20px;
}

.panel[data-opened='true'] {
  width: 520px;
  height: 90px;
  opacity: 1;
  filter: blur(0);
}

.panel[data-opened='false'] {
  width: 0;
  height: 0;
  opacity: 0;
  filter: var(--blur);
}

.panel[data-processing='true'] {
  transform: translateY(115%);
}

.panel-item {
  display: flex;
  width: 53px;
  height: 52px;
  padding: 14px 15px 14px 14px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  cursor: pointer;
  background: linear-gradient(180deg, #f3f3f3 0%, #ededed 100%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition:
    opacity var(--transition-base),
    filter var(--transition-base),
    width var(--transition-base),
    height var(--transition-base),
    transform var(--transition-base);
}

.panel-item[data-opened='true'] {
  opacity: 1;
  filter: blur(0);
}

.panel-item[data-opened='false'] {
  opacity: 0;
  filter: var(--blur);
}

.panel-item-black {
  display: flex;
  width: 55px;
  height: 55px;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid #3c3c3c;
  cursor: pointer;
  background: linear-gradient(135deg, #303030 0%, #3d3d3d 100%);
  box-shadow:
    0 2px 4px 0 rgba(0, 0, 0, 0.15),
    0 2px 0.8px 0.5px #717171 inset,
    0 -2.5px 0.8px 0 #000 inset;
  transition:
    opacity 0.6s var(--ease-out-quart),
    filter 0.6s var(--ease-out-quart),
    width 0.6s var(--ease-out-quart),
    height 0.6s var(--ease-out-quart),
    transform 0.6s var(--ease-out-quart);
  will-change: transform, opacity;
}

.panel-item-black[data-opened='true'] {
  opacity: 1;
  filter: blur(0);
}

.panel-item-black[data-opened='false'] {
  opacity: 0;
  filter: var(--blur);
}

.panel-long-item {
  width: 201px;
  height: 52px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding: 4px 13px;
  font-size: var(--font-size);
  gap: 20px;
  font-weight: 500;
  background: linear-gradient(180deg, #f3f3f3 0%, #ededed 100%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition:
    opacity var(--transition-base),
    filter var(--transition-base),
    width var(--transition-base),
    height var(--transition-base),
    transform var(--transition-base);
}

.panel-long-item[data-opened='true'] {
  opacity: 1;
  filter: blur(0);
}

.panel-long-item[data-opened='false'] {
  opacity: 0;
  filter: var(--blur);
}

.panel-long-item-bg {
  width: 93px;
  height: 44px;
  position: absolute;
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(180deg, #e3e3e3 0%, #d6d6d6 100%);
  transform: translateX(var(--transform));
  transition: transform var(--transition-base);
}

.processed {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 14px;
  padding-top: 48px;
  gap: 4px;
}

.processed[data-processing='false'] {
  opacity: 0;
  filter: var(--blur);
  transform: translateY(0);
}

.processed[data-processing='true'] {
  opacity: 1;
  filter: blur(0px);
  transform: translateY(-90px);
}

.processed-text {
  opacity: 0;
  transform: translateY(20px);
  display: inline-block;
  font-size: var(--font-size);

  filter: var(--blur);
  transition:
    opacity var(--transition-base),
    transform var(--transition-base),
    filter var(--transition-base);
  transition-delay: calc(var(--index) * 100ms);
}

.processed-text[data-processing='true'] {
  filter: blur(0px);
  opacity: 1;
  transform: translateY(0);
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    animation: none !important;
  }
}

.close,
.drafts {
  position: relative;
  z-index: 10;
}